* {
		  border: 0px;
		  padding-top: 0px;
		  padding-right: 10px;
		  padding-bottom: 10px;
		  padding-left: 10px;

}
* {
  font-family: "Times New Roman", Times, body;
}
.sub{
	font-size: 1.500em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #495749;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
nav {
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;

}
li {
  float: left;
  border-right:1px solid #fafafa;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2c332c;
}
.titulos {
	font-size: 1.875em;
	background-color:#333;
	color: #ffffff;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}


*{
  box-sizing: border-box;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.tabla {
	
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 2px;

}
video {
  width: 100%;
  height: auto;
}
html {
	background-color: #a7b5a8;
}






























